    $primary-color: rgb(139, 183, 209);
    $isolation-color: rgb(9, 255, 0);
    $intensive-color: rgb(235, 35, 35);
    $unactive-color: rgb(106, 104, 104);
    .room {
        height: 260px;
        padding: 10px;
        border-radius: 6px;
        text-align: center;
        border-width: 3px;
        border-style: solid;
        font-weight: 500;
        position: relative;
        font-size: 30px;
        &:hover {
            transition: all 0.3s ease;
            cursor: pointer;
            background-color: whitesmoke;
        }
        a {
            display: block;
            height: 100%;
            width: 100%;
            color: inherit;
        }
        .binIcon {
            position: absolute;
            bottom: 20px;
            right: 20px;
        }
    }
    
    .roomPrimary {
        border-color: $primary-color;
        background-color: $primary-color;
        color: rgb(25, 25, 158);
    }
    
    .roomIntensive {
        border-color: $intensive-color;
        background-color: $intensive-color;
        color: rgb(88, 21, 21);
    }
    
    .roomIsolation {
        background-color: $isolation-color;
        border-color: $isolation-color;
        color: rgb(5, 66, 5);
    }

    .unactive {
        border-color: $unactive-color;
        background-color: whitesmoke;
        color: $unactive-color;
    }
    
    @media (max-width: 920px) {
        .room {
            font-size: 25px;
        }
    }

    @media (max-width: 780px) {
        .room {
            height: 188px;
            width: 100%;
        }
    }

    

    
