$dark-color: rgb(2, 61, 10);

.room {
    height: 260px;
    background-color: rgb(9, 255, 0);
    border: 3px solid $dark-color;
    margin-top: 30px 0 10px;
    border-radius: 5%;
}

.room:hover {
    font-weight: 400;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 6px;
    background-color:  rgb(158, 247, 118);
    text-transform: uppercase;
 }

.name {
    text-align: center;
    color: $dark-color;
    font-weight: 500;
    font-size: 38px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.amountPatient {
    margin-top: 116px;
    text-align: center;
    font-size: 30px;
    color: $dark-color;
}