$primary-color: rgb(33, 33, 83);
.room {
    height: 260px;
    margin: 10% 2% 2% 10%;
    border-radius: 6px;
    color: $primary-color;
    background-color: rgb(159, 183, 197);
    border: 3px solid $primary-color;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.room:hover {
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: aliceblue;
}

.amountPatient {
    text-align: center;
    font-size: 30px;
}

@media (max-width: 780px) {
    .room,
    .amountPatient {
        font-size: 18px;
    }
}

@media (max-width: 920px) {
    .room,
    .amountPatient {
        font-size: 25px;
    }
}