$active-bed: rgb(116, 156, 241);
$empty-bed: rgb(223, 112, 233);
$activebed-letters: rgb(138, 5, 138);
$emptybed-letters: rgb(61, 61, 231);
.patientBed {
    padding: 10px;
    text-align: center;
    height: 162px;
    margin-bottom: 5%;
    font-weight: 700;
    &.emptyBed {
        color: $emptybed-letters;
        border: 4px solid $emptybed-letters;
        &:hover {
            cursor: grab;
            background-color: $empty-bed;
            border: 4px solid $empty-bed;
        }
    }
    &.fillBed {
        background-color: $active-bed;
        color: white;
        &:hover {
            cursor: grab;
            background-color: $empty-bed;
        }
    }
    &.active {
        background-color: rgb(16, 211, 211);
    }
    &.addBed {
        padding-top: 35px;
        color: $empty-bed;
        border: 4px solid $empty-bed;
        &:hover {
            cursor: grab;
            border: 4px solid $active-bed;
            color: $active-bed;
        }
        .addBedIcon {
            font-size: 80px;
        }
    }
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    .containerItem {
        flex: 0 0 30%;
    }
}

@media (max-width: 920px) {
    .container {
        .containerItem {
            margin: 5px;
            flex: 0 0 45%;
        }
    }
}

@media (max-width: 410px) {
    .container {
        .containerItem {
            flex: 0 0 100%;
        }
    }
}