.patientBed {
    background-color: rgb(169, 169, 248);
    border: 2px solid black;
    padding: 20px;
    width: 20%;
    &:hover {
        cursor: grab;
        background-color: aliceblue;
    }
}

.bedWords {
    text-align: center;
    font-size: 120%;
}

input {
    width: 45%;
    height: 25px;
}

.inputAge {
    float: right;
}

@media (max-width: 768px) {
    input {
        width: 40%;
        height: 20px;
    }
}

@media (max-width: 410px) {
    .bedWords {
        font-size: 100%;
    }
}