.patientBed {
    padding: 20px;
    text-align: center;
    font-size: 120%;
    width: 20%;
    &.emptyBed {
        background-color: rgb(116, 156, 241);
        &:hover {
            cursor: grab;
            background-color: white;
            border: 2px solid rgb(116, 156, 241);
        }
    }
    &.fillBed {
        background-color: rgb(223, 112, 233);
        &:hover {
            cursor: grab;
            background-color: white;
            border: 2px solid rgb(223, 112, 233);
        }
    }
    &.active {
        background-color: rgb(16, 211, 211);
    }
}

input {
    width: 45%;
    height: 25px;
}

.inputAge {
    float: right;
}

@media (max-width: 768px) {
    input {
        width: 40%;
        height: 20px;
    }
}

@media (max-width: 410px) {
    .bedWords {
        font-size: 100%;
    }
}