$bed-color: #a9a9f8;
.form {
    display: flex;
    flex-flow: column wrap;
    margin: 2% 14% 2%;
}

label {
    margin-top: 2%;
}

.inputs {
    width: 78%;
    height: 30px;
    float: right;
}

textarea {
    width: 78%;
    height: 72%;
    float: right;
}

.headerBed {
    text-align: center;
    color: $bed-color;
    margin-bottom: 10px;
}

.headerClean,
.submit {
    width: 25%;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
    border: 2px solid $bed-color;
    padding: 2px;
    background-color: $bed-color;
    font-weight: 500;
    &:hover {
        cursor: grab;
        background-color: white;
        color: $bed-color;
    }
}