
.app {
margin-right: 26px;
display: grid;
grid-template-columns: repeat(3, 350px);
grid-template-rows: auto ;
grid-template-areas: 
"header header header";
gap: 50px 60px;
justify-content: center;
overflow: hidden;
}

h1 {
    grid-area: header;
    text-align: center;
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blue;
    font-size: 60px;
    width: 100%;
}
